/* This file is part of 43S.
 *
 * 43S is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * 43S is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with 43S.  If not, see <http://www.gnu.org/licenses/>.
 */

/****************************************************/
/* Replacement of following strings made in WP34S.c */
/****************************************************/
/* Replace $fGold                with #ffc000 */
/* Replace $fHoverGold           with #ffff00 */
/* Replace $gBlue                with #00ccff */
/* Replace $gHoverBlue           with #00ffff */
/* Replace $keyBorder            with #303030 */
/* Replace $keyBackground        with #101010 */
/* Replace $keyLabelColor        with #ffffff */
/* Replace $bezelBackground      with #000000 */
/* Replace $funcKeyBackground    with #808080 */
/* Replace $keyHover             with #202020 */
/* Replace $screenColor          with #222222 */
/* Replace $behindScreen         with #303030 */
/* Replace $radius               with 3px     */
/**********************************************/

#mainWindow {
  background:  $bezelBackground;
}

#fSoftkeyArea {
  background: $fGold;
  font-size:  1px;
}

#gSoftkeyArea {
  background: $gBlue;
  font-size:  1px;
}

#softkeyArea {
  background: $screenColor;
}

#behindScreen {
  background: $behindScreen;
}

#funcKeyArea {
  background: $funcKeyBackground;
}

#calcKey {
  background:    $keyBackground;
  color:         $keyLabelColor;
  font-family:   WP43S_StandardFont;
  font-style:    normal;
  font-weight:   normal;
  font-size:     22px;
  border-radius: $radius;
  padding:       0px;
  padding-left:  2px;
  padding-top:   5px;
  padding-bottom:5px;
  border-color:  $keyBorder;
  border-width:  2px;
}
#calcKey:hover {background-color: $keyHover;}

#calcKeyGoldenBorder {
  background:    $keyBackground;
  color:         $keyLabelColor;
  font-family:   WP43S_StandardFont;
  font-style:    normal;
  font-weight:   normal;
  font-size:     22px;
  border-radius: $radius;
  padding:       0px;
  padding-left:  2px;
  padding-top:   5px;
  padding-bottom:5px;
  border-color:  $fGold;
  border-width:  2px;
}
#calcKeyGoldenBorder:hover {background-color: $keyHover;}

#calcKeyF {
  background:    $fGold;
  color:         black;
  font-family:   WP43S_StandardFont;
  font-style:    normal;
  font-weight:   normal;
  font-size:     27px;
  border-radius: $radius;
  padding:       0px;
  padding-left:  2px;
  padding-top:   2px;
  padding-bottom:2px;
  border-width:  2px;
}
#calcKeyF:hover {background-color: $fHoverGold;}

#calcKeyG {
  background:    $gBlue;
  color:         black;
  font-family:   WP43S_StandardFont;
  font-style:    normal;
  font-weight:   normal;
  font-size:     27px;
  border-radius: $radius;
  padding:       0px;
  padding-left:  2px;
  padding-top:   2px;
  padding-bottom:2px;
  border-width:  2px;
}
#calcKeyG:hover {background-color: $gHoverBlue;}

#fColor {
  background: $fGold;
  padding:    0px;
}

#gColor {
  background: $gBlue;
  padding:    0px;
}

#debugWP43S {
  font-family: WP43S_StandardFont;
  font-style:  normal;
  font-weight: normal;
  font-size:   14px;
  padding:     0px;
  color:       white;
}

#registerL {
  font-family: WP43S_StandardFont;
  font-style:  normal;
  font-weight: normal;
  font-size:   14px;
  padding:     0px;
  color:       white;
}

#memoryStatus {
  font-family: WP43S_StandardFont;
  font-style:  normal;
  font-weight: normal;
  font-size:   13px;
  padding:     0px;
  color:       white;
}

#debugDejaVu {
  font-family: DejaVu sans mono;
  font-style:  normal;
  font-weight: normal;
  font-size:   10px;
  padding:     0px;
  color:       white;
}

#debugButton {
  border-radius: $radius;
  padding:       2px;
  padding-left:  2px;
  padding-top:   0px;
  padding-bottom:0px;
}

#debugCheckbox {
  border-radius: $radius;
  padding:       2px;
  padding-left:  2px;
  padding-top:   0px;
  padding-bottom:0px;
  color:         white;
}

#errorBox {
  font-family:   WP43S_StandardFont;
  font-style:    normal;
  font-weight:   normal;
  font-size:     18px;
}

tooltip {
  font-family:      WP43S_StandardFont;
  font-size:        20px;
  background-color: #808080;
  color:            black;
  font-weight:      normal;
  padding:          0px 0px 0px 0px;
  margin:           0px 0px 0px 0px;
  border-width:     0px;
  border-style:     solid;
  border-color:     #808080;
  /* text-shadow: 5px 5px 3px #bbbbbb, 7px 7px 3px #ccccFF; */
}
